/*.cards {
}*/

.cards__list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(282px, 1fr)
  ); /*allow cards to adapt to size of grid-columns*/
  justify-content: center;
  align-items: center;
  grid-gap: 20px 17px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 615px) {
  .cards {
    padding: 0 17px 0 17px;
  }
}
