.card {
  background: white;
  width: 100%;
  border-radius: 10px;
  list-style: none;
  position: relative;
}

.card__delete-button {
  background: transparent url(../images/delete-button.svg) center no-repeat;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  border: none;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card__error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px 10px 0 0;
  background-image: url(../images/technical-difficulties.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card__error-title {
  color: #000;
  margin: 0;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  width: 100%;
  background-color: white;
  padding: 15px 0;
}

.card__content {
  padding: 25px 20px 25px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  border-radius: 10px;
  position: relative;
}

.card__empty-box {
  height: 81px;
  border-radius: 0 0 10px 10px;
}

.card__title {
  margin: 0;
  padding-right: 6px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__tooltip {
  position: absolute;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  font-size: 20px;
  font-weight: 400;
  padding: 15px;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  pointer-events: none;
  top: -20px;
  left: 2px;
  min-width: 245px;
  word-wrap: break-word;
  white-space: normal;
}

.card__title:hover + .card__tooltip {
  opacity: 0.8;
  pointer-events: auto;
}

.card__like-button {
  margin-left: auto;
  border: none;
  width: 21px;
  height: 18px;
  padding: 0 0 0 20px;
  background: transparent url(../images/like-button-inactive.svg) center
    no-repeat;
  transition: opacity;
}

.card__like-button_active {
  background: url(../images/like-button-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
