.footer {
  padding-top: 67px;
  flex-shrink: 0; /*create sticky footer*/
}

.footer__copyright {
  margin: 0;
  color: #545454;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 620px) {
  .footer {
    /*modified the design from the figma so that the footer stays aligned with the cards*/
    padding: 48px 20px 0 20px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}
