.footer {
  margin: 67px 0 0 0;
  flex-shrink: 0; /*create sticky footer*/
}

.footer__copyright {
  margin: 0;
  color: #545454;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 615px) {
  .footer {
    /*modified the design from the figma so that the footer stays aligned with the cards*/
    margin-top: 48px;
    padding: 0 17px 0 17px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}
