.profile {
  display: flex;
  align-items: center;
  margin-bottom: 51px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center center;
  margin-right: 30px;
  transition: margin-right 0.25s ease;
}

.profile__info {
  display: grid;
  align-items: baseline;
  grid-template-areas:
    "title button"
    "description description";
  padding-right: 18px;
  position: relative;
}

.profile__title {
  margin: 0 18px 0 0;
  grid-area: title;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 42px;
  transition: font-size 0.25s ease;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__tooltip-title {
  position: absolute;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  font-size: 25px;
  font-weight: 400;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  top: -49px;
  left: -8px;
  word-wrap: break-word;
  white-space: normal;
  pointer-events: none;
}

.profile__title:hover + .profile__tooltip-title {
  opacity: 0.8;
  visibility: visible;
  transition-delay: 0s;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  padding: 0;
  grid-area: button;
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  border: 1px solid white;
  transition: opacity 0.25s;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__description {
  margin: 0;
  grid-area: description;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  transition: font-size 0.25s ease;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

.profile__tooltip-description {
  position: absolute;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding: 12px;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  pointer-events: none;
  top: 60px;
  left: -12px;
  word-wrap: break-word;
  white-space: normal;
}

.profile__description:hover + .profile__tooltip-description {
  opacity: 0.8;
  visibility: visible;
  transition-delay: 0s;
}

.profile__add-button {
  width: 150px;
  transition: width 0.25s ease, opacity 0.25s;
  height: 50px;
  padding: 0;
  background: transparent url(../images/add-button.svg) center no-repeat;
  margin-left: auto;
  border: 2px solid white;
  flex-shrink: 0;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 50px;
  }
  .profile__title {
    font-size: 34px;
  }
  .profile__description {
    font-size: 16px;
    max-width: 250px;
  }
  .profile__image {
    margin-right: 15px;
  }
}

@media screen and (max-width: 615px) {
  .profile {
    flex-direction: column;
    margin: 0;
  }
  .profile__image {
    margin: 0 0 30px 0;
  }
  .profile__info {
    padding-left: 18px;
  }
  .profile__title {
    margin: 0 10px 14px 0;
    text-align: center;
    font-size: 22px;
    line-height: normal;
    max-width: 250px;
  }
  .profile__tooltip-title {
    top: -65px;
    left: 0;
    font-size: 18px;
    padding: 18px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
  .profile__description {
    margin: 0 auto 36px auto;
    text-align: center;
    font-size: 14px;
    line-height: normal;
    max-width: 150px;
  }
  .profile__tooltip-description {
    top: 52px;
    left: 0;
    font-size: 12px;
  }
  .profile__add-button {
    margin: 0 0 36px 0;
    max-width: 282px;
    width: 100%;
  }
}
