@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 50px;
  }
  .profile__title {
    font-size: 34px;
  }
  .profile__description {
    font-size: 16px;
    max-width: 100px;
  }
  .profile__image {
    margin-right: 15px;
  }
}

@media screen and (max-width: 615px) {
  .page {
    padding: 28px 0 36px 0;
  }
  .header {
    margin-bottom: 42px;
  }
  .header__image {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
  .profile {
    flex-direction: column;
    margin: 0;
  }
  .profile__image {
    margin: 0 0 30px 0;
  }
  .profile__title {
    margin: 0 10px 14px 0;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .profile__description {
    margin: 0 auto 36px auto;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .profile__add-button {
    margin: 0 0 36px 0;
    max-width: 282px;
    width: 100%;
  }
  .cards {
    padding: 0 17px 0 17px;
  }
  .footer {
    margin: 48px auto 0 auto;
    max-width: 282px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}
